.homeContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../assets/home-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .contentContainer {
    color: white;
    z-index: 1;

    .title {
      font-size: 3rem;
    }

    .description {
      display: flex;
      margin-top: 0.2rem;
      justify-content: center;
      font-size: 1.2rem;
    }
  }
}